torch
torchvision
opencv-python
numpy
tqdm
yacs
json_tricks
tensorboardX
pycocotools   
scipy

python tools/inference_demo.py --cfg /root/autodl-tmp/DEKR/experiments/coco/inference_demo_coco.yaml \
    --videoFile test_data/TongjiDancerClub.MOV \
    --outputDir output \
    --visthre 0.3 \
    TEST.MODEL_FILE model/pose_coco/pose_dekr_hrnetw32_coco.pth